body {
  width: 100vw;
  height: 100vh;
  background-color: #0b0c0c;
}

.form-wrapper {
  position: relative;
  top: 40px;
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-page {
  display: flex;
  flex-direction: column;
  color: #141414;
  background-color: #00c897;
  border: 5px solid #36f3c0;
  padding: 100px;
}