body {
  width: 100vw;
  height: 100vh;
  background-color: #0b0c0c;
  margin: 0;
  overflow-x: hidden;
}

.form-wrapper {
  position: relative;
  top: 80px;
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-page {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  border: 5px solid var(--dark-green);
  padding: 100px;
  color: white;
}