@font-face {
  font-family: "Apex Mk2";
  src: url("./assets/fonts/apex-mk2/Apex Mk2/ApexMk2-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apex Mk2";
  src: url("./assets/fonts/apex-mk2/Apex Mk2/ApexMk2-LightCondensed.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Apex Mk2";
  src: url("./assets/fonts/apex-mk2/Apex Mk2/ApexMk2-BoldExtended.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  /* color: white; */
  letter-spacing: 1px;
}

body {
  width: 100vw;
  height: 100vh;
  --lime-green: #1ed490;
  --off-black: #0b0c0c;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Apex Mk2";
  font-size: 48px;
}

h2 {
  font-family: "Apex Mk2";
  font-size: 32px;
  text-align: center;
  margin: 10px 0px;
}

h3 {
  font-family: "Apex Mk2";
  font-size: 24px;
  color: var(--off-black);
}

button svg {
  cursor: pointer;
}

button {
  cursor: pointer;
}

