.form-wrapper--dashboard {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 130px;
	padding-bottom: 150px;
	box-sizing: border-box;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.form-wrapper--dashboard::-webkit-scrollbar {
	display: none;
}

.form-page--dashboard {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: var(--dark-gray);
	border: 5px solid var(--dark-green);
	box-shadow: 0 0 20px var(--dark-green);
	padding: 40px;
	color: white;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.workout-plan--dashboard {
	width: 100%;
}

.workout-list--dashboard {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 10px;
	font-size: 22px;
	color: var(--lime-green);
}

.dashboard-btns--mark-complete {
	size: 8px;
	padding-right: 10px;
}

.to-select-btn {
	color: var(--dark-green);
	font-size: 18px;
	font-weight: 700;
	border-radius: 30px;
	cursor: pointer;
}

.no-plan {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.to-select-btn:hover {
	color: var(--lime-green);
}

.custom-message {
  color: white;
  margin-bottom: 25px;
}

.message-boxes {
	width: 100%;
}

.tips {
  margin-top: 6px;
}
