.header {
    position: fixed;
    display: flex;
    top: 0; 
    left: 0;
    background-color: #141414;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 3px 10px;
    font-size: 20px;
    z-index: 9999;
}

.navlink {
    color: #ffffff;
}

.navlink-active {
    color: #024433;
}