.muscle-selector-page--wrapper {
	display: flex;
	flex-direction: column;
	padding: 100px;
	background-color: #cfcfcf;
	height: calc(100vh - 100px);
	color: var(--off-black);
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.muscle-selector-page--wrapper::-webkit-scrollbar {
	display: none;
}

.muscle-selector-page--cart {
	color: var(--off-black);
	background-color: #cfcfcf;
	width: 100%;
	margin: 20px 0px;
}

.muscle-selector-page--cart h3 {
	padding-bottom: 10px;
}

.muscle-selector-page--cart li {
	padding-bottom: 5px;
}

.workout-delete-btn {
	margin-left: 5px;
}

.muscle-selector__svg {
	text-align: center;
}

.add-muscle__header {
	color: var(--off-black);
}

.add-muscle__btn {
	background-color: var(--lime-green);
	padding: 16px 30px;
	border-radius: 30px;
	color: #393838;
	font-size: 22px;
	margin-top: 10px;
}

.add-muscle__btn:hover {
	color: var(--lime-green);
	background-color: #393838;
}

h6 {
	color: var(--off-black);
	text-align: center;
}

.save-plan-btn {
	background-color: var(--lime-green);
	padding: 12px 20px;
	border-radius: 30px;
	color: #393838;
	font-size: 18px;
	margin-top: 10px;
}

.save-plan-btn:hover {
	color: var(--lime-green);
	background-color: #393838;
}
