.muscle-selector-page--wrapper {
	display: flex;
	flex-direction: column;
	padding: 100px 0px;
	background-color: #cfcfcf;
	height: calc(100vh - 100px);
	color: var(--off-black);
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.muscle-selector-page--wrapper::-webkit-scrollbar {
	display: none;
}

.muscle-selector-page--cart {
	width: 75%;
	margin: 20px auto;
	padding: 20px;
	color: var(--off-black);
  background-color: #edeaeadb;
	border: 4px solid var(--dark-green);
	text-align: center;
}

.muscle-selector-page--cart ul {
	display: grid;
	grid-auto-flow: column;
	grid-auto-rows: min-content;
	grid-template-rows: repeat(5, auto);
	gap: 12px;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.muscle-selector-page--cart li {
	display: flex;
  justify-content: space-between;
  align-items: center;
	break-inside: avoid;
  text-align: left;
  background-color: #cfcfcf;
  padding: 5px;
  border-radius: 10px;
}

.muscle-selector-page--cart p {
  font-size: 14px;
  color: #0b0c0c;
}

.muscle-selector-page--cart h3 {
	padding-bottom: 10px;
}

.workout-delete-btn {
	margin-left: 5px;
}

.muscle-selector__svg {
	text-align: center;
}

.add-muscle__header {
	font-size: 38px;
	color: var(--off-black);
}

.add-muscle__btn {
	background-color: var(--lime-green);
	padding: 16px 30px;
	border-radius: 30px;
	color: #393838;
	font-size: 22px;
	margin-top: 10px;
}

.add-muscle__btn:hover {
	color: var(--lime-green);
	background-color: #393838;
}

.clear-cart-btn {
	background-color: var(--lime-green);
	padding: 6px 12px;
	border-radius: 30px;
	color: #393838;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.clear-cart-btn:hover {
	color: var(--lime-green);
	background-color: #393838;
}

h6 {
	color: var(--off-black);
	text-align: center;
}

.save-plan-btn {
	background-color: var(--lime-green);
	padding: 6px 12px;
	border-radius: 30px;
	color: #393838;
	font-size: 16px;
	margin-top: 10px;
}

.save-plan-btn:hover {
	color: var(--lime-green);
	background-color: #393838;
}

.workout-cards--container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 10px;
}

@media screen and (min-width: 1025px) {
  .muscle-selector-page--wrapper {
    padding: 100px;
  }

  .save-plan-btn {
    padding: 12px 20px;
    font-size: 18px;
  }

  .clear-cart-btn {
    padding: 12px 20px;
    font-size: 18px;
  }
}