.navbar {
    position: fixed;
    display: flex;
    bottom: 0; 
    left: 0;
    background-color: #024433;
    justify-content: space-around;
    align-items: center; 
    height: 100px;
    width: 100vw;
    font-size: 20px;
}

.navlink {
    color: #ffffff;
}

.navlink-active {
    color: #1ed490;
}