.view-workout--wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 125px;
	padding-bottom: 125px;
	color: white;
	overflow-y: auto;
	max-height: 100vh;
	scrollbar-width: none;
	-ms-overflow-style: none;
	width: 100%;
}

.view-workout--wrapper::-webkit-scrollbar {
	display: none;
}

.message-boxes {
	text-align: center;
	margin-bottom: 20px;
}

.message-boxes h1 {
	font-size: 34px;
}

.message-boxes h2 {
	font-size: 26px;
}

.workout-cards--list {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 10px;
}

.no-plan {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
}

.plans-to-select-btn {
	padding-right: 5px;
	color: var(--dark-green);
}

.plans-to-select-btn:hover {
	color: var(--lime-green);
}

.complete-workout-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 0.3rem 0.5rem;
	cursor: pointer;
}

.fitness-graphic__view {
	height: 200px;
	width: auto;
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.view-workout--wrapper {
		padding: 120px 120px;
	}

	.message-boxes h1 {
		font-size: 46px;
	}

	.message-boxes h2 {
		font-size: 32px;
	}
}
