.view-workout--wrapper {
	display: flex;
	flex-direction: column;
	padding: 120px 120px;
	color: white;
	overflow-y: auto;
	max-height: 100vh;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.view-workout--wrapper::-webkit-scrollbar {
	display: none;
}

.message-boxes {
	text-align: center;
	margin-bottom: 20px;
}

.workout-cards--list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.no-workout-txt {
	margin-top: 200px;
	text-align: center;
	font-size: 34px;
}

.complete-workout-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 0.3rem 0.5rem;
	cursor: pointer;
}