.header {
    position: fixed;
    display: flex;
    top: 0; 
    right: 0;
    background-color: rgb(195, 206, 196); 
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100vw;
    padding: 3px;
    font-size: 20px;
}

/* .navlink {
    color: rgb(57, 57, 57);
}

.navlink .active {
    color: red;
} */