button {
    all: unset;
    display: inline-block;
}

.arrow-btns {
    display: flex;
    justify-content: space-between;
}

.form-label {
    font-size: 30px;
}

.form-input {
    color: #cfcfcf;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 30px;
}

.date-selectors {
    display: flex;
    justify-content: space-between;
}