button {
    all: unset;
    display: inline-block;
}

.form-wrapper {
    position: relative;
    top: 40px;
    height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.form-page {
    background-color: rgb(139, 187, 106, 50%);
    border: 5px solid rgba(36, 49, 27, 0.5);
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.arrow-btns {
    display: flex;
    justify-content: space-between;
}

.form-label {
    font-size: 30px;
}

.form-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 30px;
}

.date-selectors {
    display: flex;
    justify-content: space-between;
}

/* .form-page--welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-selection {
    display: flex;
    flex-direction: column;
}

.btn-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.welcome-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 20px;
} */