.form-page--welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(139, 187, 106, 50%);
    padding: 100px;
    width: 900px;
    color: white;
    text-shadow: 1px 1px 2px rgb(56, 80, 43);
}

.user-selection {
    display: flex;
}

.btn-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-btn {
    border: 3px solid rgb(98, 138, 74);
    color: black;
    background-color: rgb(56, 80, 43, 25%);
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 20px;
    text-shadow: none;
}