.form-page--welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lime-green);
    background-color: #141414;
    border: 5px solid var(--lime-green);
    padding: 100px;
    width: 900px;
    box-shadow: 1px 1px 2px #cfcfcf;
    /* text-shadow: 1px 1px 2px rgb(56, 80, 43); */
}

.user-selection {
    display: flex;
}

.btn-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-btn {
    /* border: 3px solid rgb(255, 255, 255); */
    color: #00c897;
    background-color: #393838;
    font-size: 21px;
    font-weight: 700;
    border-radius: 5px;
    padding: 16px 30px;
    text-shadow: none;
    margin: 10px;
}