/* .form-wrapper {
    padding-top: 100px;
} */

.form-page--welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--lime-green);
	background-color: var(--dark-gray);
	border: 5px solid var(--dark-green);
	padding: 60px;
	width: 900px;
	box-shadow: none;
}

.welcome-text {
	font-size: 42px;
}

.app-name-text {
	font-size: 52px;
}

.form-page--welcome h2 {
	font-size: 20px;
	color: #cfcfcf;
}

.btn-select {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-select p {
	font-size: 16px;
	color: #cfcfcf;
}

.welcome-btn {
	color: var(--lime-green);
	background-color: #393838;
	font-size: 18px;
	font-weight: 700;
	border-radius: 30px;
	padding: 8px 15px;
	text-shadow: none;
	margin: 10px;
	cursor: pointer;
}

.welcome-btn:hover {
	background-color: var(--lime-green);
	color: #393838;
}

.fitness-graphic {
	height: 125px;
	width: auto;
	margin: 20px 0px;
}

@media screen and (min-width: 768px) {
	.welcome-text {
		font-size: 54px;
	}

	.app-name-text {
		font-size: 76px;
	}

	.form-page--welcome {
		box-shadow: 0px 0px 20px var(--dark-green);
	}

	.form-page--welcome h2 {
		font-size: 24px;
	}

	.btn-select p {
		font-size: 18px;
	}

	.welcome-btn {
		font-size: 21px;
		padding: 16px 30px;
		margin: 10px;
	}
}
