/*.form-wrapper {
	position: relative;
	top: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  }
  
  .form-page {
	display: flex;
	flex-direction: column;
	background-color: #141414;
	border: 5px solid var(--dark-green);
	padding: 100px;
	color: white;
	height: 100%;
  }
*/

.workout-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 300px;
	border-radius: 8px;
	padding: 1rem;
	width: 100%;
	background-color: #141414;
	border: 5px solid var(--dark-green);
	box-shadow: 0px 0px 20px #024433;
	color: #fff;
}

.workout--card__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 10px 50px 50px 50px;
}

.workout--card__image {
	width: 80%;
	height: auto;
	border-radius: 4px;
	margin-bottom: .5rem;
}

.workout-card--description {
	text-align: center;
	width: 40%;
}

.add-exercise-btn {
	background-color: var(--lime-green);
	color: #393838;
	padding: 16px 30px;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
	text-align: center;
	margin: 10px;
}

.add-exercise-btn:hover {
	color: var(--lime-green);
    background-color: #393838;
}

.workout-cards--list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.message-boxes {
	text-align: center;
}

.save-workout-btn {
	background-color: var(--lime-green);
	color: var(--off-black);
	padding: 8px 15px;
	border-radius: 30px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	margin-top: 8px;
}