.form-wrapper {
	position: relative;
	top: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  }
  
  .form-page {
	display: flex;
	flex-direction: column;
	background-color: #141414;
	border: 5px solid var(--dark-green);
	padding: 100px;
	color: white;
	height: 100%;
  }

.workout-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 300px;
}

.add-exercise-btn {
	background-color: var(--lime-green);
	color: var(--off-black);
	padding: 16px 30px;
	border-radius: 30px;
	cursor: pointer;
	margin-top: 16px;
}

.workout-cards--list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.message-boxes {
	text-align: center;
}